.app.dark {
  --bg-color: #050572;
  --inverted-bg-color: #cecece;

  --primary-color: #75c975;
  --secondary-color: #acefb1;
  --inverted-primary-color: #2352a4;
  --inverted-secondary-color: rgba(43, 102, 166, 0.55);
}
