.app.light {
  --bg-color: #cecece;
  --inverted-bg-color: #050572;

  --primary-color: #2352a4;
  --secondary-color: rgba(43, 102, 166, 0.55);
  --inverted-primary-color: #75c975;
  --inverted-secondary-color: #acefb1;
}
